/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//IS COMPRESSED

@import "compass/reset"
@import "compass"

/************ FONTS IMPORT ***************/
@font-face
    font-family: "Helvetica Neue Thin Ext"
    src: url('../fonts/HelveticaNeueLTCom-ThEx.ttf')

@font-face
    font-family: "Helvetica Neue Thin"
    src: url('../fonts/HelveticaNeueLTCom-Th.ttf')

@font-face
    font-family: "Helvetica Neue Light"
    src: url('../fonts/HelveticaNeueLTCom-Lt.ttf')

@font-face
    font-family: "Helvetica Neue Light Ext"
    src: url('../fonts/HelveticaNeueLTCom-LtEx.ttf')

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css")


/******** VARIABLES *********/

$itemcount: 5
$listColor: #86afaf, #8ab6b6, #90bebe, #95c6c6, #99CCCC
$button-nav-color: #99CCCC
$baseSize: 8rem
$listWidth: 90%, 60%, 75%, 16%
$red-default: #7d0f00

$color-theme: #696868
$color-theme-2: #99CCCC
$error-color: rgba(#ff0000, 0.7)

$colors-used-list: $color-theme-2, $color-theme

$colors-used-gite: #000, #FFF, #f0bc00, #39d670, #46bed8

$colors-used-magnolia: #000, #FFF, #b31f24
//---------------------------------------\\

//SKILLS BAR / CIRCLES COLORS / ARIAN COLORS

$bar-color: #ebebeb
$arian-color: #989797

// LIST BACKGROUDS REA

$backgrounds: laptop, site-gite-aubrac, graphique, flowers, edible

/******** MIXINS *********/

//Mixin project details


//MEDIA QUERIES
@mixin respond-to($media)
    @if $media == handhelds
        @media only screen and (max-width: 500px) // TARGET ALL PHONES
            @content
    @else if $media == high-handhelds
        @media only screen and (max-width: 500px) and (min-height: 500px)
            @content
    @else if $media == touch-pad-portrait
        @media only screen and (max-width: 800px) and (max-height: 1100px)
            @content
    @else if $media == touch-pad-landscape
        @media only screen and (max-width: 1024px) // TARGET ALL TABLETS (touch-pad-landscape & CO)
            @content
    @else if $media == genBook // TARGET ALL HD 1366 WIDTH + GENERIC BOOKS 1280 WIDTH
        @media only screen and (max-width: 1550px)
            @content
    @else if $media == very-wide // TARGET ALL SCREEN OVER 1680 WIDTH
        @media only screen and (min-width: 1800px)
            @content
    @else if $media == height-less // TARGET SCREENS LESS THAN 900
        @media only screen and (max-height: 600px)
            @content
//MORE-button-skillPage
@mixin responsive-style-button
    font-size: 1em
    @include respond-to(touch-pad-landscape)
        font-size: 0.6em
    width: 150px
    @include respond-to(touch-pad-landscape)
        width: 75px
    a
        display: block
        padding: 10px 15px 10px 15px
        @include respond-to(touch-pad-landscape)
            padding: 5px 7px 5px 7px

//Title default style
@mixin title-default($current-class)
    .title-bloc-#{$current-class}
        width: 100%
        h1
            text-align: center
            font-size: 1.4em
            @include respond-to(handhelds)
                font-size: 1em
        h2
            @extend h1
        h3
            @extend h1
    .line-up
        width: 90%
        margin: auto
        margin-top: 10px
        margin-bottom: 15px
        height: 10px
        background-color: $color-theme-2
        @include respond-to(handhelds)
            margin: 5px auto 5px auto

//DEFAULT SLIDE STYLE

@mixin default-slide-style($slide-id, $current-class)
    ##{$slide-id}
        width: 100%
        height: 100%
        font-size: 2em
        @include respond-to(handhelds)
            font-size: 2.5em
            display: table
            .main-wrapper-#{$current-class}
                display: table-cell
                vertical-align: middle
    .main-wrapper-#{$current-class}
        @include respond-to(touch-pad-portrait)
            font-size: 3rem
        @include respond-to(handhelds)
            font-size: 2.5rem
        @if $current-class == main-wrapper-apropos
            font-family: "Helvetica Neue Thin", 'Lato', Arial, sans-serif
            width: 100%
            height: 90%
            overflow: hidden
        @else
            font-family: "Helvetica Neue Thin", 'Lato', Arial, sans-serif
            width: 100%
            @include respond-to(handhelds)
                width: 50%
            height: 90%
            overflow: hidden
    .main-text-bloc-#{$current-class}
        position: absolute
        padding: 10rem 0 0 15rem
        width: 20rem
        height: 75%
        @include title-default($current-class)
        @include respond-to(very-wide)
            padding: 10rem 0 0 17rem
        @include respond-to(genBook)
            padding: 2.5rem 0 0 7rem
        @include respond-to(touch-pad-portrait)
            padding: 5rem 0 0 2rem
            width: 25rem
        @include respond-to(height-less)
            padding: 0 0 0 7rem
            width: 22.5rem
        @include respond-to(handhelds)
            width: 25rem
            padding: 0
            position: static
            margin: auto

    .text-bloc-#{$current-class}
        width: 75%
        margin: auto
        font-size: 0.5em
        text-align: left
    .main-image-bloc-#{$current-class}
        text-align: right
        img
            width: 40%

//////////////////////////////////////////////////**** Gen Reset ****//////////////////////////////////////////////////

html
    font-size: 100%
    -webkit-font-smoothing: antialiased
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
    color: $color-theme
    @include respond-to(touch-pad-landscape)
        font-size: 80%
    @include respond-to(touch-pad-portrait)
        font-size: 65%
    @include respond-to(handhelds)
        font-size: 60%
body
    font-family: "Helvetica Neue Light", 'Lato', Arial, sans-serif
    font-weight: 300
    font-size: 100%
    p::selection
        background: #FFA500 !important
        color: #ffffff !important
    img::selection
        @extend p::selection
    div::selection
        @extend p::selection
    section::selection
        @extend p::selection
    h1::selection
        @extend p::selection
    h2::selection
        @extend p::selection
    h3::selection
        @extend p::selection
    h4::selection
        @extend p::selection
    a::selection
        @extend p::selection
    strong::selection
        @extend p::selection
    em::selection
        @extend p::selection
    span::selection
        @extend p::selection
    canvas::selection
        @extend p::selection
    form::selection
        @extend p::selection
    input::selection
        @extend p::selection
    textarea::selection
        @extend p::selection

    a
        text-decoration: none
        color: $color-theme
#bloc-page
    max-width: 1920px
    max-height: 1080px


//////////////////////////////////////////////////**** GENERAL ELEMENTS ****//////////////////////////////////////////////////

.em-style
    color: #000
    a
        color: $color-theme-2
    @include respond-to(genBook)
        position: relative
        width: 50%
        bottom: 40px
        left: 25%
    @include respond-to(touch-pad-landscape)
        position: initial
        width: initial
        bottom: initial
        left: initial

header
    a
        color: #FFFFFF
        text-decoration: none
    nav
        z-index: 1
        position: fixed
        width: 0
        .menu-item
            @include display-flex
            //IE FIX
            display: -ms-flexbox
            //OLD FIREFOX FIX
            display: -moz-flex
            //SAFARI FIX
            display: -webkit-box
            position: relative
            @include box-sizing(border-box)
            font-size: 1.5rem
            padding: 1.25rem
            //IE 10 debug
            @include transform(translateX(-150%))
            @include transform(translateX(calc(-100% - 4rem)))
            @for $i from 1 through $itemcount
                &:nth-child(#{$i + 1})
                    @include transition(transform)
                    @include transition-delay(($itemcount - $i)*0.1s)
                    @include transition-duration(0.2s)
            @for $i from 1 through $itemcount
                &:nth-child(#{$i + 1})
                    $tmp: $itemcount - $i
                    $dec: $i
                    $currentColor: nth($listColor, $dec)
                    width: ($baseSize+($tmp*4rem))
                    background-color: $currentColor

                    &::after
                        position: absolute
                        content: ""
                        width: 0
                        height: 0
                        left: 100%
                        top: 0
                        border: 2rem solid $currentColor
                        border-right: 2rem solid transparent
                        border-bottom: 2rem solid transparent
                        @include transition(border)
                        @include transition-duration(0.2s)
                    &:hover
                        background-color: darken($currentColor, 10%)
                    &:hover::after
                        border: 2rem solid darken($currentColor, 10%)
                        border-right: 2rem solid transparent
                        border-bottom: 2rem solid transparent



        input
            position: absolute
            left: -9999px
        .close-menu
            display: block
            position: relative
            width: 2*($baseSize - 4rem)
            height: 2*($baseSize - 4rem)
            cursor: pointer
            @include transform(translateY($itemcount*(-4rem)))
            &::before
                position: absolute
                color: #FFFFFF
                font-family: "FontAwesome"
                font-size: 2rem
                content: "\f0c9"
                top: 1.2rem
                left: 1.2rem
                z-index: 1
            &::after
                content: ""
                position: absolute
                border: ($baseSize - 4rem) solid $button-nav-color
                border-right: ($baseSize - 4rem) solid transparent
                border-bottom: ($baseSize - 4rem) solid transparent
                @include transition(border)
                @include transition-duration(0.2s)
            &:hover::after
                border: ($baseSize - 4rem) solid darken($button-nav-color, 10%)
                border-right: ($baseSize - 4rem) solid transparent
                border-bottom: ($baseSize - 4rem) solid transparent
        input[type='checkbox']:checked ~ .close-menu
            @include transition(transform)
            @include transition-duration(($itemcount - 1)*0.1s)
            @include transform(translateY(0))
            &::before
                content: "\f00d"
        input[type='checkbox']:checked ~ .menu-item
            @for $i from 1 through $itemcount
                &:nth-child(#{$i + 1})
                    $temp: $i*0.1s
                    @include transition(transform, background-color)
                    @include transition-duration(0.2s, 0.2s)
                    @include transition-delay($temp, 0s)
                    @include transform(translateX(0))

        input[type='checkbox']:not(:checked) ~ .close-menu
            @include transition-property(transform)
            @include transition-delay(($itemcount)*0.1s)
            @include transition-duration(0.2s)


/////////////////////////////////////////////////// ARIAN /////////////////////////////////////////////////
.arian-content
    display: inline
    .arian-fill
        @include display-flex
        //IE FIX
        display: -ms-flexbox
        //SAFARI FIX
        display: -webkit-box
        //OLD FIREFOX FIX
        display: -moz-flex
        width: 100%
        height: 30px
        @include respond-to(touch-pad-portrait)
            height: 15px
        @include respond-to(handhelds)
            height: 10px
        .tip-arian
            height: 100%
            width: 20%
            border: 1px solid $arian-color
    .arian-fill-accueil
        z-index: 99
        @extend .arian-fill
        position: absolute
        left: 0
        bottom: 5%
        .tip-arian-accueil
            @extend .tip-arian
            a
                display: block
                width: 100%
                height: 100%
.active-tip
    background-color: $arian-color

/////////////////////////////////////////////////// ADDONS /////////////////////////////////////////////////

.circle-cv
    position: absolute
    right: 50px
    top: 20px
    z-index: 99
    display: table
    width: 100px
    height: 100px
    margin: auto
    border-radius: 100%
    border: 1px solid $color-theme-2
    color: $color-theme
    @include respond-to(handhelds)
        right: 10px
        top: 10px
        width: 40px
        height: 40px
    a
        text-align: center
        font-size: 1.8em
        display: table-cell
        vertical-align: middle
        &:hover
            text-decoration: underline
    p
        font-size: 1.4em
        @extend a
        color: inherit

//////////////////////////////////////////////////**** ACCUEIL ****//////////////////////////////////////////////////

#accueil
    height: 100%
    width: 100%
    font-size: 2em
    display: table
    .main-wrapper-accueil
        font-family: "HELVETICA NEUE THIN EXT", 'Lato', Arial, sans-serif
        height: 100%
        width: 100%
        display: table-cell
        vertical-align: middle
        text-align: center
        .title-accueil
            font-size: 1.8em
            .bold-font
                font-family: "helvetica neue light ext", 'Lato', Arial, sans-serif
                font-weight: 400
        .visit-site-button
            margin-top: 35px
            font-size: 0.8em
            a
                display: block
                margin: auto
                width: 30%
                padding: 15px
                border: 1px solid $color-theme
                background-color: #ffffff
                p
                    display: inline
                .content-triangle
                    float: right
                    margin-right: 2rem
                    display: inline
                    vertical-align: baseline
                    height: 0px
                    width: 0px
                    &::after
                        content: ""
                        position: absolute
                        border: 0.8rem solid transparent
                        border-left: 0.8rem solid $color-theme
                        margin-top: 0.1rem
                @include respond-to(touch-pad-landscape)
                    p
                        display: block
                    .content-triangle
                        display: none



//////////////////////////////////////////////////**** A Propos ****//////////////////////////////////////////////////

@include default-slide-style(apropos, apropos)

.main-text-bloc-apropos
    z-index: 98
    @include respond-to(genBook)
        padding: 7rem 0 0 12rem
    @include respond-to(touch-pad-portrait)
        width: 30rem
        padding: 7rem 0 0 6rem
    @include respond-to(height-less)
        padding: 0 0 0 12rem
    @include respond-to(handhelds)
        position: relative
        width: 25rem
        margin: 0
        padding: 2rem 0 0 1.5rem

.main-image-bloc-apropos
    img
        position: absolute
        top: 0
        right: 0
        width: 40%


//////////////////////////////////////////////////**** Competences ----> RESPONSIVE ****//////////////////////////////////////////////////

@include default-slide-style(competences, responsive)

.main-text-bloc-responsive
    @include respond-to(very-wide)
        padding: 10rem 0 0 25rem
    @include respond-to(handhelds)
        padding: 0
        position: static
        margin: auto

.main-image-bloc-responsive
    padding: 12% 20% 0 0
    @include respond-to(touch-pad-landscape)
        padding: 20% 15% 0 0
    @include respond-to(touch-pad-portrait)
        padding: 50% 15% 0 0
    @include respond-to(height-less)
        padding: 10% 15% 0 0
    @include respond-to(handhelds)
        display: none

//////////////////////////////////////////////////**** Competences ----> DEV ****//////////////////////////////////////////////////

////////////////////////////////////////////// PIXELS ELEMENTS HERE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@include default-slide-style(competences, dev)

.text-display
    @include respond-to(handhelds)
        display: none

.main-image-bloc-dev
    float: right
    padding: 17rem 10rem 0
    @include respond-to(very-wide)
        padding: 17rem 13rem 0 0
    @include respond-to(genBook)
        padding: 10rem 7rem 0 0
    @include respond-to(touch-pad-landscape)
        padding: 13rem 3rem 0 0
    @include respond-to(touch-pad-portrait)
        padding: 25rem 1rem 0 0
    @include respond-to(height-less)
        padding: 8rem 3rem 0 0
    @include respond-to(handhelds)
        display: none
    width: 50%
    @for $i from 1 through 4
        .skill-bar-#{$i}
            width: 100%
            @include respond-to(touch-pad-landscape)
                width: 90%
            margin-bottom: 4rem
            @include respond-to(genBook)
                margin-bottom: 2.5rem
            @include respond-to(touch-pad-landscape)
                margin-bottom: 2rem
            .skill-empty
                width: 100%
                @include respond-to(touch-pad-landscape)
                    width: 90%
                display: block
                height: 25px
                @include respond-to(touch-pad-landscape)
                    height: 10px
                background-color: $bar-color
                overflow: hidden
                .skill-progress
                    display: block
                    position: relative
                    height: 25px
                    width: nth($listWidth, $i)
                    left: -100%
                    @include transition(left)
                    @include transition-duration(2s)
                    background-color: $color-theme-2
                    @include respond-to(touch-pad-landscape)
                        height: 10px
                        left: 0
                    @include respond-to(touch-pad-portrait)
                        left: 0
            p
                font-family: "Helvetica Neue Light", 'Lato', Arial, sans-serif
                font-size: 0.6em
                text-align: left
                padding-left: 5px
    .more-skills-button
        text-align: center
        font-family: "helvetica neue light", 'Lato', Arial, sans-serif
        border: 1px solid $color-theme
        @include responsive-style-button

///// MORE SKILLS OVERLAY
#more-skills
    position: absolute
    display: none //table
    z-index: 98
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.9)
    div
        display: table-cell
        vertical-align: middle
        text-align: center
        div
            position: relative
            display: table
            margin: auto
            width: 0
            height: 0
            background-color: #FFFFFF
            @include transition(width 1s ease-out, height 0.6s ease-out)
            #cross-container
                display: none
                @include transform(rotate(45deg))
                position: absolute
                width: 25px !important
                height: 25px !important
                top: 5px
                right: 5px
                border: 1px solid $color-theme
                border-radius: 50%
                padding: 3px 3px 0 1px
                cursor: pointer
                #cross
                    background: $color-theme
                    height: 20px !important
                    position: relative
                    width: 2px !important
                    &:after
                        background: $color-theme
                        content: ""
                        height: 2px
                        left: -8.5px
                        position: absolute
                        top: 8.5px
                        width: 20px
            p
                display: none //table-cell
                vertical-align: middle
                a
                    display: block
                    margin-top: 20px
                    color: $color-theme-2
                    font-size: 0.8em
                    &:hover
                        text-decoration: underline

////////////////////////////////////**** Competences ----> DESIGN ****/////////////////////////////////////////////////

////////////////////////////////////////////// PIXELS ELEMENTS HERE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@include default-slide-style(competences, design)

.main-text-bloc-design
    @include respond-to(very-wide)
        padding: 10rem 0 0 22rem
    @include respond-to(handhelds)
        padding: 0
.main-image-bloc-design
    text-align: center
    float: right
    padding: 20rem 10rem 0 0
    @include respond-to(very-wide)
        padding: 20rem 15rem 0 0
    @include respond-to(genBook)
        padding: 13rem 5rem 0 0
        width: 60%
    @include respond-to(touch-pad-landscape)
        padding: 17rem 3rem 0 0
    @include respond-to(touch-pad-portrait)
        padding: 22rem 1rem 0 0
    @include respond-to(height-less)
        padding: 11rem 3rem 0 0
    @include respond-to(handhelds)
        display: none
    width: 50%
    @for $i from 1 through 3
        .skill-circle-#{$i}
            @include inline-block
            .skill-empty
                position: relative
                width: 200px
                height: 200px
                @include respond-to(touch-pad-landscape)
                    width: 125px
                    height: 125px
                display: table
                p
                    display: table-cell
                    vertical-align: middle
                    font-family: "Helvetica Neue Light", 'Lato', Arial, sans-serif
                    font-size: 1.2em
                    @include respond-to(touch-pad-landscape)
                        font-size: 0.8em
                    text-align: center
                    padding-left: 5px
            .circle-skill-progress
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                canvas
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
        p
            font-size: 0.8em
            text-align: center
        .skill-circle-#{$i - 1}
            margin-right: 5rem
            @include respond-to(genBook)
                margin-right: 2rem
            @include respond-to(touch-pad-portrait)
                margin-right: 0

///////////////////////////////////////////////**** Realisations ****///////////////////////////////////////////////
@include default-slide-style(realisations, realisations)

/////////////////////////////////////////
/////////// WARNING DEVICE \\\\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
#overlay-warning-device
    display: none
    @include respond-to(touch-pad-landscape)
        display: table
    height: 100%
    width: 100%
    background-color: rgba(0,0,0,0.9)
    position: absolute
    z-index: 98
    #overlay-rea-content
        display: table-cell
        vertical-align: middle
        p
            text-align: center
            font-size: 0.6em
            padding: 20px 60px 20px 60px
            color: $error-color
            background-color: #FFFFFF
        a
            margin-top: 10px
            display: block
            padding: 5px 10px 5px 10px
            border: 1px solid $color-theme-2

/////////////////////////////////////////
/////////// WARNING DEVICE \\\\\\\\\\\\
//\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.main-wrapper-realisations
    display: table
    width: 100%
    height: 100%
    background-size: cover
    @include respond-to(handhelds)
        display: table !important
    .title-rea
        display: table-cell
        vertical-align: middle
        text-align: center
        h1
            font-size: 2em
            width: 20%
            margin: auto
            padding: 10px
            border: 1px solid $color-theme-2
            border-radius: 20px
            background: #ffffff
            @include respond-to(genBook)
                font-size: 1.3em
            @include respond-to(touch-pad-portrait)
                width: 30%
            @include respond-to(handhelds)
                width: 65%
        p
            margin: 10px
            color: $color-theme-2
            font-size: 0.6em
@for $i from 1 through 5
    .main-wrapper-web-#{$i}
        height: 100%
        width: 100%
        position: relative
        @include text-shadow(1px 1px 1px #535353)
        @include respond-to(genBook)
            font-size: 0.8em
        .button-project-container-#{$i}
            position: absolute
            z-index: 53
            display: table
            height: 100%
            width: 100%
            text-align: center
            color: #ffffff
            .cell-button-#{$i}
                display: table-cell
                vertical-align: middle
                h2
                    position: relative
                    font-size: 1.2em
                hr
                    width: 20%
                a
                    position: relative
                    top: 10px
                    padding: 5px 10px 5px 10px
                    border: 1px solid #ffffff
                    border-radius: 5px
                    color: #ffffff
                    &:hover
                        background: #ffffff
                        color: $color-theme-2
        .web-project-#{$i}
            height: 90%
            .skew-#{$i}
                display: none
                position: absolute
                width: 75%
                height: 100%
                background: $color-theme-2
                left: 110%
                @include transform(matrix(1, 0, 0, 1, 0, 0))
                z-index: 51
                @include box-shadow(-2px 0 15px #504f4f)
                @include transition(left)
                @include transition-duration(0.7s)
                @include transition(transform, 0.5s)
                @include respond-to(handhelds)
                    width: 100%
            .details-#{$i}
                display: none
                position: absolute
                right: 5%
                @if $i == 4 // Special constraint for fourth slide
                    top: 10%
                    @include respond-to(genBook)
                        top: 15%
                        right: 7%
                    @include respond-to(touch-pad-landscape)
                        top: 25%
                    @include respond-to(touch-pad-portrait)
                        top: 35%
                    @include respond-to(handhelds)
                        top: 10%
                @else if $i == 2 or 5 // Special constraint for second and fifth slides
                    top: 15%
                    @include respond-to(touch-pad-portrait)
                        top: 35%
                    @include respond-to(handhelds)
                        top: 10%
                @else
                    top: 25%
                    @include respond-to(touch-pad-portrait)
                        top: 35%
                    @include respond-to(handhelds)
                        top: 10%
                width: 33%
                z-index: 52
                color: #ffffff
                @include respond-to(handhelds)
                    width: 80%
                    font-size: 0.8em
                h3
                    text-align: center
                hr
                    width: 75%
                    color: #ffffff
                p
                    font-size: 0.8em
                    @if $i == 4 //Special constraint for fourth slide
                        margin-bottom: 20px
                @if $i == 1 or 2 or 5 //Special constraint for first, second and fifth slides
                    .see-more-project
                        display: block
                        color: #FFFFFF
                        padding: 5px 10px 5px 10px
                        margin-top: 20px
                        border: 1px solid #FFFFFF
                        text-align: center
                        &:hover
                            background-color: #FFFFFF
                            color: $color-theme-2
                .features
                    margin-top: 30px
                    @if $i == 5 //Special constraint for fifth slide
                        @include respond-to(handhelds)
                            display: none
                    p
                        margin-bottom: 20px
                    //Conditionnal for each features lists
                    $listSelect: 0
                    @if $i == 1
                        $listSelect: $colors-used-list
                    @else if $i == 2
                        $listSelect: $colors-used-gite
                    @else if $i == 3
                        $listSelect: $colors-used-magnolia
                    @else if $i == 4
                        $listSelect: $colors-used-magnolia

                    @for $i from 1 through length($listSelect)
                        .feature-#{$i}
                            display: inline-block
                            padding-left: 10px
                            .color-feature
                                display: inline-block
                                width: 25px
                                height: 25px
                                border-radius: 50%
                                background-color: nth($listSelect, $i)
                                box-shadow: 4px 4px 6px #3a3a3a
                                vertical-align: middle
                            p
                                display: inline-block
                                vertical-align: baseline

                @if $i == 5 //Special constraint for fifth slide
                    @for $i from 1 through 4
                        .feature-#{$i}
                            display: inline-block
                            padding-left: 10px
                    #edible-proto
                        font-size: 0.7em
                        color: $error-color
                        @include text-shadow(none)
                .zoom-gallery
                    a
                        outline: none
                    p
                        margin-bottom: 25px
                    img
                        width: 20%
                        box-shadow: 2px 2px 4px #3a3a3a

            .bck-web-#{$i}
                position: relative
                z-index: 50
                height: 100%
                background: #000000
                opacity: 0.4
                @include transition(background, 0.2s)
            .web-project-inner-#{$i}
                position: relative
                z-index: 49
                height: 100%
                bottom: 100%
                background: url("../images/"+ nth($backgrounds, $i)+".jpg") left no-repeat
                @if $i == 5 //Special constraint for fifth slide
                    @include respond-to(handhelds)
                        background-size: cover


///////////////////////////////////////////////**** Contact ****///////////////////////////////////////////////

#contact
    width: 100%
    height: 100%
    font-size: 2em
    @include respond-to(high-handhelds)
        display: table

.main-wrapper-contact
    display: block
    width: 100%
    height: 90%
    text-align: center
    font-family: "Helvetica Neue Thin", 'Lato', Arial, sans-serif
    overflow: hidden
    @include respond-to(high-handhelds)
        display: table-cell
        vertical-align: middle
    .main-text-bloc-contact
        @include title-default(contact)
        .title-bloc-contact
            position: relative
            top: 80px
            @include respond-to(genBook)
                top: 45px
            @include respond-to(height-less)
                top: 0
            @include respond-to(handhelds)
                top: 10px
            .line-up
                width: 20rem
.main-container-contact
    position: relative
    overflow: hidden
    top: 80px
    @include respond-to(genBook)
        top: 45px
    @include respond-to(height-less)
        top: 5px
    @include respond-to(handhelds)
        top: 5px
    .form-container
        position: relative
        float: left
        width: 50%
        @include respond-to(touch-pad-portrait)
            float: inherit !important
            width: 80%
            margin: auto
        @include respond-to(handhelds)
            float: inherit !important
            width: 80%
            margin: auto
        form
            width: 75%
            margin: auto
            overflow: hidden
            @include respond-to(touch-pad-portrait)
                overflow: inherit !important
            @include respond-to(handhelds)
                overflow: inherit !important
            .form-input
                display: block
                width: 98%
                height: 35px
                margin: 50px 0 4px 0
                @include respond-to(genBook)
                    margin-top: 35px
                @include respond-to(height-less)
                    margin-top: 10px
                    height: 30px
                @include respond-to(handhelds)
                    margin-top: 10px
                    height: 20px
                border: 1px solid $color-theme
                padding: 0 0 0 5px
        ::-webkit-input-placeholder
            color: $color-theme
            font-family: "helvetica neue light", 'Lato', Arial, sans-serif
        &:-moz-placeholder  /* Firefox 18- */
            color: $color-theme
            font-family: "helvetica neue light", 'Lato', Arial, sans-serif
        ::-moz-placeholder   /* Firefox 19+ */
            color: $color-theme
            font-family: "helvetica neue light", 'Lato', Arial, sans-serif
        &:-ms-input-placeholder
            color: $color-theme
            font-family: "helvetica neue light", 'Lato', Arial, sans-serif
#user_mess
    height: 150px
    padding-top: 5px
    @include respond-to(genBook)
        height: 120px
    @include respond-to(height-less)
        height: 70px
    @include respond-to(handhelds)
        height: 50px
#reset_button
    display: block
    font-size: 1em
    font-family: "helvetica neue thin", 'Lato', Arial, sans-serif
    font-weight: 300
    width: 45%
    height: 45px
    margin-top: 35px
    padding: 0
    background-color: #ffffff
    float: left
    @include respond-to(handhelds)
        height: 20px
        font-size: 0.8em
        margin-top: 5px
    &:hover
        cursor: pointer
#submit_button
    @extend #reset_button
    float: right
    margin-right: 5px

/* -------------- Loader1 -------------- */

.loader1
    display: none
    position: absolute
    bottom: 7px
    right: 60px
    height: 30px
    width: 30px
    border-radius: 30px
    border: 3px solid rgba($color-theme, 0.6)
    @include respond-to(genBook)
        right: 40px
    @include respond-to(touch-pad-landscape)
        right: 20px
    @include respond-to(touch-pad-portrait)
        bottom: -80px
        right: 35px
    @include respond-to(handhelds)
        height: 15px
        width: 15px
        border-radius: 15px
        border-width: 1px
        bottom: -28px
        right: 10px

    @include transform-origin(50% 50%)
    //transform-origin: 50% 50%
    @include animation(loader1 0.8s linear infinite)
    //animation: loader1 3s linear infinite


.loader1:after
    content: ""
    position: absolute
    top: -5px
    left: 10px
    width: 7px
    height: 7px
    border-radius: 5px
    background-color: white
    @include respond-to(handhelds)
        width: 3px
        height: 3px
        top: 0


@-webkit-keyframes loader1
    0%
        @include transform(rotate(0deg))
    100%
        @include transform(rotate(360deg))


@keyframes loader1
    0%
        @include transform(rotate(0deg))
    100%
        @include transform(rotate(360deg))




.ending-container
    float: right
    width: 50%
    @include respond-to(touch-pad-portrait)
        width: 80%
        float: inherit !important
        margin: auto
    @include respond-to(handhelds)
        width: 80%
        float: inherit !important
        margin: auto
    .end-text-content
        margin-top: 100px
        @include respond-to(genBook)
            margin-top: 80px
        @include respond-to(touch-pad-portrait)
            display: none
        @include respond-to(height-less)
            margin-top: 30px
        @include respond-to(handhelds)
            display: none
        h4
            font-size: 1.8em
            @include respond-to(genBook)
                font-size: 1.5em
            @include respond-to(touch-pad-landscape)
                font-size: 1.3em
        p
            font-size: 1em
            margin-top: 10%
            @include respond-to(genBook)
                font-size: 0.8em
            @include respond-to(touch-pad-landscape)
                font-size: 0.7em
            @include respond-to(genBook)
                margin-top: 5%

    .socials
        width: 100%
        margin-top: 50px
        @include respond-to(touch-pad-portrait)
            margin-top: 80px
        @include respond-to(height-less)
            margin-top: 20px
        @include respond-to(handhelds)
            margin-top: 30px
        @for $i from 1 through 3
            .social-icon-#{$i}
                @include inline-block
                height: 5rem
                width: 5rem
                border: 1px solid $color-theme-2
                border-radius: 100%
                padding: 15px
                @include transition(background-color)
                @include transition-duration(0.2s)
                @include respond-to(handhelds)
                    height: 2rem
                    width: 2rem
                img
                    width: 100%
                a
                    display: block
                    height: 100%
                    width: 100%
                &:hover
                    background-color: $color-theme-2

            .social-icon-#{$i - 1}
                margin-right: 40px
                @include respond-to(handhelds)
                    margin-right: 10px
    .policy
        font-size: 0.7em
        margin-top: 25px
        @include respond-to(touch-pad-portrait)
            margin-top: 10px
        @include respond-to(handhelds)
            margin-top: 10px
        p:last-child
            font-size: 0.9em
            margin-top: 10px
            a
                color: $color-theme-2
        @include respond-to(genBook)
            font-size: 0.5em

//////////////////////// ****** FORM ERRORS CLASSES AND ID'S ******* //////////////////////

.correct
    background-color: rgba(#96ed67, 0.2)

.incorrect
    background-color: rgba(#e34543, 0.2)

#xhrErr
    font-size: 0.7em
    margin-top: 5px
    color: #000
    text-align: center
    display: none

#overlay
    z-index: 99
    display: none
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    background-color: rgba(102,102,102,0.6)

.confirm_mail
    background-color: #ffffff
    width: 35%
    height: 25%
    font-size: 1.2em
    text-align: center
    display: table
    margin: auto
    position: relative
    top: 30%
    p
        display: table-cell
        vertical-align: middle
    a
        display: block
        padding: 10px
        width: 5em
        color: #ffffff
        background-color: rgba(51,153,255,1)
        margin: 10px auto auto auto
        &:active
            background: darken(#3399FF, 5%)
/*** Tooltips ***/
.tooltip
    display: none
    position: absolute
    font-size: 0.5em
    text-align: left
    font-family: "Helvetica Neue Light"
    padding: 5px
    color: #f1f1f1
    background-color: #272727
    border-radius: 10px
    @include respond-to(handhelds)
        display: none !important


////////////////////////////////////////////////////////
////////// SPECIAL NEEDS //////////////////////////////
///////////////////////////////////////////////////////

.admissions
    p
        width: 50%
        margin: 20px auto auto auto
        font-size: 0.7em
    a
        display: block
        text-decoration: underline
        font-size: 0.6em
        font-family: "helvetica neue light ext"
        margin-top: 20px
        color: $error-color
