@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");
/* line 5, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/************ FONTS IMPORT ************** */
@font-face {
  font-family: "Helvetica Neue Thin Ext";
  src: url("../fonts/HelveticaNeueLTCom-ThEx.ttf");
}
@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("../fonts/HelveticaNeueLTCom-Th.ttf");
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeueLTCom-Lt.ttf");
}
/******** VARIABLES ******** */
/******** MIXINS ******** */
/**** Gen Reset *** */
/* line 113, ../sass/screen.sass */
html {
  font-size: 100%;
}

/* line 115, ../sass/screen.sass */
body {
  font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
/* line 118, ../sass/screen.sass */
body a {
  text-decoration: none;
  color: #000000;
}

/* line 121, ../sass/screen.sass */
#bloc-page {
  max-width: 1920px;
  max-height: 1080px;
}

/**** GENERAL ELEMENTS *** */
/* line 129, ../sass/screen.sass */
header a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 132, ../sass/screen.sass */
header nav {
  z-index: 1;
  position: fixed;
  width: 0;
}
/* line 136, ../sass/screen.sass */
header nav .menu-item {
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 1.25rem;
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  -moz-transform: translateX(calc(-100% - 4rem));
  -ms-transform: translateX(calc(-100% - 4rem));
  -webkit-transform: translateX(calc(-100% - 4rem));
  transform: translateX(calc(-100% - 4rem));
}
/* line 148, ../sass/screen.sass */
header nav .menu-item:nth-child(2) {
  -moz-transition: -moz-transform;
  -o-transition: -o-transform;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 148, ../sass/screen.sass */
header nav .menu-item:nth-child(3) {
  -moz-transition: -moz-transform;
  -o-transition: -o-transform;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 148, ../sass/screen.sass */
header nav .menu-item:nth-child(4) {
  -moz-transition: -moz-transform;
  -o-transition: -o-transform;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 148, ../sass/screen.sass */
header nav .menu-item:nth-child(5) {
  -moz-transition: -moz-transform;
  -o-transition: -o-transform;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 148, ../sass/screen.sass */
header nav .menu-item:nth-child(6) {
  -moz-transition: -moz-transform;
  -o-transition: -o-transform;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 153, ../sass/screen.sass */
header nav .menu-item:nth-child(2) {
  width: 24rem;
  background-color: #111111;
}
/* line 160, ../sass/screen.sass */
header nav .menu-item:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  border: 2rem solid #111111;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -moz-transition: border;
  -o-transition: border;
  -webkit-transition: border;
  transition: border;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 172, ../sass/screen.sass */
header nav .menu-item:nth-child(2):hover {
  background-color: black;
}
/* line 174, ../sass/screen.sass */
header nav .menu-item:nth-child(2):hover::after {
  border: 2rem solid black;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}
/* line 153, ../sass/screen.sass */
header nav .menu-item:nth-child(3) {
  width: 20rem;
  background-color: #252525;
}
/* line 160, ../sass/screen.sass */
header nav .menu-item:nth-child(3)::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  border: 2rem solid #252525;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -moz-transition: border;
  -o-transition: border;
  -webkit-transition: border;
  transition: border;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 172, ../sass/screen.sass */
header nav .menu-item:nth-child(3):hover {
  background-color: #0c0c0c;
}
/* line 174, ../sass/screen.sass */
header nav .menu-item:nth-child(3):hover::after {
  border: 2rem solid #0c0c0c;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}
/* line 153, ../sass/screen.sass */
header nav .menu-item:nth-child(4) {
  width: 16rem;
  background-color: #363636;
}
/* line 160, ../sass/screen.sass */
header nav .menu-item:nth-child(4)::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  border: 2rem solid #363636;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -moz-transition: border;
  -o-transition: border;
  -webkit-transition: border;
  transition: border;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 172, ../sass/screen.sass */
header nav .menu-item:nth-child(4):hover {
  background-color: #1c1c1c;
}
/* line 174, ../sass/screen.sass */
header nav .menu-item:nth-child(4):hover::after {
  border: 2rem solid #1c1c1c;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}
/* line 153, ../sass/screen.sass */
header nav .menu-item:nth-child(5) {
  width: 12rem;
  background-color: #464646;
}
/* line 160, ../sass/screen.sass */
header nav .menu-item:nth-child(5)::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  border: 2rem solid #464646;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -moz-transition: border;
  -o-transition: border;
  -webkit-transition: border;
  transition: border;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 172, ../sass/screen.sass */
header nav .menu-item:nth-child(5):hover {
  background-color: #2d2d2d;
}
/* line 174, ../sass/screen.sass */
header nav .menu-item:nth-child(5):hover::after {
  border: 2rem solid #2d2d2d;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}
/* line 153, ../sass/screen.sass */
header nav .menu-item:nth-child(6) {
  width: 8rem;
  background-color: #555555;
}
/* line 160, ../sass/screen.sass */
header nav .menu-item:nth-child(6)::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  border: 2rem solid #555555;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -moz-transition: border;
  -o-transition: border;
  -webkit-transition: border;
  transition: border;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 172, ../sass/screen.sass */
header nav .menu-item:nth-child(6):hover {
  background-color: #3b3b3b;
}
/* line 174, ../sass/screen.sass */
header nav .menu-item:nth-child(6):hover::after {
  border: 2rem solid #3b3b3b;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}
/* line 181, ../sass/screen.sass */
header nav input {
  position: absolute;
  left: -9999px;
}
/* line 184, ../sass/screen.sass */
header nav .close-menu {
  display: block;
  position: relative;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  -moz-transform: translateY(-20rem);
  -ms-transform: translateY(-20rem);
  -webkit-transform: translateY(-20rem);
  transform: translateY(-20rem);
}
/* line 191, ../sass/screen.sass */
header nav .close-menu::before {
  position: absolute;
  color: #FFFFFF;
  font-family: "FontAwesome";
  font-size: 2rem;
  content: "";
  top: 1.2rem;
  left: 1.2rem;
  z-index: 1;
}
/* line 200, ../sass/screen.sass */
header nav .close-menu::after {
  content: "";
  position: absolute;
  border: 4rem solid #636363;
  border-right: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  -moz-transition: border;
  -o-transition: border;
  -webkit-transition: border;
  transition: border;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 208, ../sass/screen.sass */
header nav .close-menu:hover::after {
  border: 4rem solid #4a4a4a;
  border-right: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
}
/* line 212, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .close-menu {
  -moz-transition: -moz-transform;
  -o-transition: -o-transform;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 216, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .close-menu::before {
  content: "";
}
/* line 220, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .menu-item:nth-child(2) {
  -moz-transition: -moz-transform, background-color;
  -o-transition: -o-transform, background-color;
  -webkit-transition: -webkit-transform, background-color;
  transition: transform, background-color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-delay: 0.1s, 0s;
  -o-transition-delay: 0.1s, 0s;
  -webkit-transition-delay: 0.1s, 0s;
  transition-delay: 0.1s, 0s;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 220, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .menu-item:nth-child(3) {
  -moz-transition: -moz-transform, background-color;
  -o-transition: -o-transform, background-color;
  -webkit-transition: -webkit-transform, background-color;
  transition: transform, background-color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 220, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .menu-item:nth-child(4) {
  -moz-transition: -moz-transform, background-color;
  -o-transition: -o-transform, background-color;
  -webkit-transition: -webkit-transform, background-color;
  transition: transform, background-color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 220, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .menu-item:nth-child(5) {
  -moz-transition: -moz-transform, background-color;
  -o-transition: -o-transform, background-color;
  -webkit-transition: -webkit-transform, background-color;
  transition: transform, background-color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-delay: 0.4s, 0s;
  -o-transition-delay: 0.4s, 0s;
  -webkit-transition-delay: 0.4s, 0s;
  transition-delay: 0.4s, 0s;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 220, ../sass/screen.sass */
header nav input[type='checkbox']:checked ~ .menu-item:nth-child(6) {
  -moz-transition: -moz-transform, background-color;
  -o-transition: -o-transform, background-color;
  -webkit-transition: -webkit-transform, background-color;
  transition: transform, background-color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-delay: 0.5s, 0s;
  -o-transition-delay: 0.5s, 0s;
  -webkit-transition-delay: 0.5s, 0s;
  transition-delay: 0.5s, 0s;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 227, ../sass/screen.sass */
header nav input[type='checkbox']:not(:checked) ~ .close-menu {
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* line 234, ../sass/screen.sass */
.arian-content {
  display: inline;
}
/* line 236, ../sass/screen.sass */
.arian-content .arian-fill, .arian-content .arian-fill-accueil {
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 30px;
}
/* line 242, ../sass/screen.sass */
.arian-content .arian-fill .tip-arian, .arian-content .arian-fill-accueil .tip-arian, .arian-content .arian-fill-accueil .tip-arian-accueil {
  height: 100%;
  width: 20%;
  border: 1px solid #000;
}
/* line 246, ../sass/screen.sass */
.arian-content .arian-fill-accueil {
  z-index: 99;
  position: absolute;
  left: 0;
  bottom: 5%;
}
/* line 254, ../sass/screen.sass */
.arian-content .arian-fill-accueil .tip-arian-accueil a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 258, ../sass/screen.sass */
.active-tip {
  background-color: #000;
}

/**** ACCUEIL *** */
/* line 265, ../sass/screen.sass */
#accueil {
  height: 100%;
  width: 100%;
  font-size: 2em;
  display: table;
}
/* line 270, ../sass/screen.sass */
#accueil .main-wrapper-accueil {
  font-family: "HELVETICA NEUE THIN EXT";
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 277, ../sass/screen.sass */
#accueil .main-wrapper-accueil .title-accueil {
  font-size: 1.8em;
}
/* line 279, ../sass/screen.sass */
#accueil .main-wrapper-accueil .visit-site-button {
  margin-top: 35px;
  font-size: 0.8em;
}
/* line 282, ../sass/screen.sass */
#accueil .main-wrapper-accueil .visit-site-button a {
  display: block;
  margin: auto;
  width: 30%;
  padding: 15px;
  border: 1px solid #000;
}

/**** A Propos *** */
/* line 83, ../sass/screen.sass */
#apropos {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/* line 87, ../sass/screen.sass */
.main-wrapper-apropos {
  font-family: "Helvetica Neue Thin";
  width: 100%;
  height: 90%;
  overflow: hidden;
}

/* line 92, ../sass/screen.sass */
.main-text-bloc-apropos {
  position: absolute;
  padding: 10rem 0 0 15rem;
  width: 20rem;
  height: 75%;
}
@media only screen and (max-width: 1400px) {
  /* line 92, ../sass/screen.sass */
  .main-text-bloc-apropos {
    padding: 2.5rem 0 0 7rem;
  }
}
/* line 67, ../sass/screen.sass */
.main-text-bloc-apropos .title-bloc-apropos {
  width: 100%;
}
/* line 69, ../sass/screen.sass */
.main-text-bloc-apropos .title-bloc-apropos h1 {
  text-align: center;
  font-size: 1.4em;
}
/* line 72, ../sass/screen.sass */
.main-text-bloc-apropos .line-up {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 10px;
  background: url("../images/line-up.png");
}

/* line 101, ../sass/screen.sass */
.text-bloc-apropos {
  width: 75%;
  margin: auto;
  font-size: 0.5em;
  text-align: left;
}

/* line 106, ../sass/screen.sass */
.main-image-bloc-apropos {
  text-align: right;
}
/* line 108, ../sass/screen.sass */
.main-image-bloc-apropos img {
  width: 40%;
}

@media only screen and (max-width: 1400px) {
  /* line 293, ../sass/screen.sass */
  .main-text-bloc-apropos {
    padding: 7rem 0 0 12rem;
  }
}

/* line 298, ../sass/screen.sass */
.main-image-bloc-apropos img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}

/**** Competences ----> RESPONSIVE *** */
/* line 83, ../sass/screen.sass */
#competences {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/* line 87, ../sass/screen.sass */
.main-wrapper-responsive {
  font-family: "Helvetica Neue Thin";
  width: 100%;
  height: 90%;
  overflow: hidden;
}

/* line 92, ../sass/screen.sass */
.main-text-bloc-responsive {
  position: absolute;
  padding: 10rem 0 0 15rem;
  width: 20rem;
  height: 75%;
}
@media only screen and (max-width: 1400px) {
  /* line 92, ../sass/screen.sass */
  .main-text-bloc-responsive {
    padding: 2.5rem 0 0 7rem;
  }
}
/* line 67, ../sass/screen.sass */
.main-text-bloc-responsive .title-bloc-responsive {
  width: 100%;
}
/* line 69, ../sass/screen.sass */
.main-text-bloc-responsive .title-bloc-responsive h1 {
  text-align: center;
  font-size: 1.4em;
}
/* line 72, ../sass/screen.sass */
.main-text-bloc-responsive .line-up {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 10px;
  background: url("../images/line-up.png");
}

/* line 101, ../sass/screen.sass */
.text-bloc-responsive {
  width: 75%;
  margin: auto;
  font-size: 0.5em;
  text-align: left;
}

/* line 106, ../sass/screen.sass */
.main-image-bloc-responsive {
  text-align: right;
}
/* line 108, ../sass/screen.sass */
.main-image-bloc-responsive img {
  width: 40%;
}

/* line 309, ../sass/screen.sass */
.main-image-bloc-responsive {
  padding: 15% 15% 0 0;
}
@media only screen and (max-width: 1400px) {
  /* line 309, ../sass/screen.sass */
  .main-image-bloc-responsive {
    padding: 10% 15% 0 0;
  }
}

/**** Competences ----> DEV *** */
/* line 83, ../sass/screen.sass */
#competences {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/* line 87, ../sass/screen.sass */
.main-wrapper-dev {
  font-family: "Helvetica Neue Thin";
  width: 100%;
  height: 90%;
  overflow: hidden;
}

/* line 92, ../sass/screen.sass */
.main-text-bloc-dev {
  position: absolute;
  padding: 10rem 0 0 15rem;
  width: 20rem;
  height: 75%;
}
@media only screen and (max-width: 1400px) {
  /* line 92, ../sass/screen.sass */
  .main-text-bloc-dev {
    padding: 2.5rem 0 0 7rem;
  }
}
/* line 67, ../sass/screen.sass */
.main-text-bloc-dev .title-bloc-dev {
  width: 100%;
}
/* line 69, ../sass/screen.sass */
.main-text-bloc-dev .title-bloc-dev h1 {
  text-align: center;
  font-size: 1.4em;
}
/* line 72, ../sass/screen.sass */
.main-text-bloc-dev .line-up {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 10px;
  background: url("../images/line-up.png");
}

/* line 101, ../sass/screen.sass */
.text-bloc-dev {
  width: 75%;
  margin: auto;
  font-size: 0.5em;
  text-align: left;
}

/* line 106, ../sass/screen.sass */
.main-image-bloc-dev {
  text-align: right;
}
/* line 108, ../sass/screen.sass */
.main-image-bloc-dev img {
  width: 40%;
}

/* line 320, ../sass/screen.sass */
.main-image-bloc-dev {
  float: right;
  padding: 17rem 10rem 0 0;
  width: 50%;
}
@media only screen and (max-width: 1400px) {
  /* line 320, ../sass/screen.sass */
  .main-image-bloc-dev {
    padding: 10rem 7rem 0 0;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 320, ../sass/screen.sass */
  .main-image-bloc-dev {
    padding: 17rem 3rem 0 0;
  }
}
/* line 329, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-1 {
  width: 100%;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-1 {
    width: 90%;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-1 {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-1 {
    margin-bottom: 2rem;
  }
}
/* line 338, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-1 .skill-empty {
  width: 100%;
  display: block;
  height: 25px;
  background-color: #ebebeb;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-1 .skill-empty {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-1 .skill-empty {
    height: 10px;
  }
}
/* line 348, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-1 .skill-empty .skill-progress {
  display: block;
  position: relative;
  height: 25px;
  width: 90%;
  background-color: #898989;
}
@media only screen and (max-width: 1024px) {
  /* line 348, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-1 .skill-empty .skill-progress {
    height: 10px;
  }
}
/* line 356, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-1 p {
  font-family: "Helvetica Neue Light";
  font-size: 0.6em;
  text-align: left;
  padding-left: 5px;
}
/* line 329, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-2 {
  width: 100%;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-2 {
    width: 90%;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-2 {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-2 {
    margin-bottom: 2rem;
  }
}
/* line 338, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-2 .skill-empty {
  width: 100%;
  display: block;
  height: 25px;
  background-color: #ebebeb;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-2 .skill-empty {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-2 .skill-empty {
    height: 10px;
  }
}
/* line 348, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-2 .skill-empty .skill-progress {
  display: block;
  position: relative;
  height: 25px;
  width: 60%;
  background-color: #898989;
}
@media only screen and (max-width: 1024px) {
  /* line 348, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-2 .skill-empty .skill-progress {
    height: 10px;
  }
}
/* line 356, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-2 p {
  font-family: "Helvetica Neue Light";
  font-size: 0.6em;
  text-align: left;
  padding-left: 5px;
}
/* line 329, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-3 {
  width: 100%;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-3 {
    width: 90%;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-3 {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-3 {
    margin-bottom: 2rem;
  }
}
/* line 338, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-3 .skill-empty {
  width: 100%;
  display: block;
  height: 25px;
  background-color: #ebebeb;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-3 .skill-empty {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-3 .skill-empty {
    height: 10px;
  }
}
/* line 348, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-3 .skill-empty .skill-progress {
  display: block;
  position: relative;
  height: 25px;
  width: 75%;
  background-color: #898989;
}
@media only screen and (max-width: 1024px) {
  /* line 348, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-3 .skill-empty .skill-progress {
    height: 10px;
  }
}
/* line 356, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-3 p {
  font-family: "Helvetica Neue Light";
  font-size: 0.6em;
  text-align: left;
  padding-left: 5px;
}
/* line 329, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-4 {
  width: 100%;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-4 {
    width: 90%;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-4 {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 329, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-4 {
    margin-bottom: 2rem;
  }
}
/* line 338, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-4 .skill-empty {
  width: 100%;
  display: block;
  height: 25px;
  background-color: #ebebeb;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-4 .skill-empty {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 338, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-4 .skill-empty {
    height: 10px;
  }
}
/* line 348, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-4 .skill-empty .skill-progress {
  display: block;
  position: relative;
  height: 25px;
  width: 16%;
  background-color: #898989;
}
@media only screen and (max-width: 1024px) {
  /* line 348, ../sass/screen.sass */
  .main-image-bloc-dev .skill-bar-4 .skill-empty .skill-progress {
    height: 10px;
  }
}
/* line 356, ../sass/screen.sass */
.main-image-bloc-dev .skill-bar-4 p {
  font-family: "Helvetica Neue Light";
  font-size: 0.6em;
  text-align: left;
  padding-left: 5px;
}
/* line 361, ../sass/screen.sass */
.main-image-bloc-dev .more-skills-button {
  text-align: center;
  font-family: "helvetica neue light";
  border: 1px solid #000;
  font-size: 1em;
  width: 150px;
}
@media only screen and (max-width: 1024px) {
  /* line 361, ../sass/screen.sass */
  .main-image-bloc-dev .more-skills-button {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 361, ../sass/screen.sass */
  .main-image-bloc-dev .more-skills-button {
    width: 75px;
  }
}
/* line 59, ../sass/screen.sass */
.main-image-bloc-dev .more-skills-button a {
  display: block;
  padding: 10px 15px 10px 15px;
}
@media only screen and (max-width: 1024px) {
  /* line 59, ../sass/screen.sass */
  .main-image-bloc-dev .more-skills-button a {
    padding: 5px 7px 5px 7px;
  }
}

/**** Competences ----> DESIGN *** */
/* line 83, ../sass/screen.sass */
#competences {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/* line 87, ../sass/screen.sass */
.main-wrapper-design {
  font-family: "Helvetica Neue Thin";
  width: 100%;
  height: 90%;
  overflow: hidden;
}

/* line 92, ../sass/screen.sass */
.main-text-bloc-design {
  position: absolute;
  padding: 10rem 0 0 15rem;
  width: 20rem;
  height: 75%;
}
@media only screen and (max-width: 1400px) {
  /* line 92, ../sass/screen.sass */
  .main-text-bloc-design {
    padding: 2.5rem 0 0 7rem;
  }
}
/* line 67, ../sass/screen.sass */
.main-text-bloc-design .title-bloc-design {
  width: 100%;
}
/* line 69, ../sass/screen.sass */
.main-text-bloc-design .title-bloc-design h1 {
  text-align: center;
  font-size: 1.4em;
}
/* line 72, ../sass/screen.sass */
.main-text-bloc-design .line-up {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 10px;
  background: url("../images/line-up.png");
}

/* line 101, ../sass/screen.sass */
.text-bloc-design {
  width: 75%;
  margin: auto;
  font-size: 0.5em;
  text-align: left;
}

/* line 106, ../sass/screen.sass */
.main-image-bloc-design {
  text-align: right;
}
/* line 108, ../sass/screen.sass */
.main-image-bloc-design img {
  width: 40%;
}

/* line 375, ../sass/screen.sass */
.main-image-bloc-design {
  text-align: center;
  float: right;
  padding: 20rem 10rem 0 0;
  width: 50%;
}
@media only screen and (max-width: 1400px) {
  /* line 375, ../sass/screen.sass */
  .main-image-bloc-design {
    padding: 13rem 5rem 0 0;
    width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 375, ../sass/screen.sass */
  .main-image-bloc-design {
    padding: 20rem 3rem 0 0;
  }
}
/* line 386, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-1 {
  display: inline-block;
}
/* line 388, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-1 .skill-empty {
  position: relative;
  width: 200px;
  height: 200px;
  display: table;
}
@media only screen and (max-width: 1024px) {
  /* line 388, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-1 .skill-empty {
    width: 125px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 388, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-1 .skill-empty {
    height: 125px;
  }
}
/* line 397, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-1 .skill-empty p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Helvetica Neue Light";
  font-size: 1.2em;
  text-align: center;
  padding-left: 5px;
}
@media only screen and (max-width: 1024px) {
  /* line 397, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-1 .skill-empty p {
    font-size: 0.8em;
  }
}
/* line 406, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-1 .circle-skill-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 412, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-1 .circle-skill-progress canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 418, ../sass/screen.sass */
.main-image-bloc-design p {
  font-size: 0.8em;
  text-align: center;
}
/* line 421, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-0 {
  margin-right: 5rem;
}
@media only screen and (max-width: 1400px) {
  /* line 421, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-0 {
    margin-right: 2rem;
  }
}
/* line 386, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-2 {
  display: inline-block;
}
/* line 388, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-2 .skill-empty {
  position: relative;
  width: 200px;
  height: 200px;
  display: table;
}
@media only screen and (max-width: 1024px) {
  /* line 388, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-2 .skill-empty {
    width: 125px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 388, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-2 .skill-empty {
    height: 125px;
  }
}
/* line 397, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-2 .skill-empty p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Helvetica Neue Light";
  font-size: 1.2em;
  text-align: center;
  padding-left: 5px;
}
@media only screen and (max-width: 1024px) {
  /* line 397, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-2 .skill-empty p {
    font-size: 0.8em;
  }
}
/* line 406, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-2 .circle-skill-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 412, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-2 .circle-skill-progress canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 418, ../sass/screen.sass */
.main-image-bloc-design p {
  font-size: 0.8em;
  text-align: center;
}
/* line 421, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-1 {
  margin-right: 5rem;
}
@media only screen and (max-width: 1400px) {
  /* line 421, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-1 {
    margin-right: 2rem;
  }
}
/* line 386, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-3 {
  display: inline-block;
}
/* line 388, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-3 .skill-empty {
  position: relative;
  width: 200px;
  height: 200px;
  display: table;
}
@media only screen and (max-width: 1024px) {
  /* line 388, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-3 .skill-empty {
    width: 125px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 388, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-3 .skill-empty {
    height: 125px;
  }
}
/* line 397, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-3 .skill-empty p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Helvetica Neue Light";
  font-size: 1.2em;
  text-align: center;
  padding-left: 5px;
}
@media only screen and (max-width: 1024px) {
  /* line 397, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-3 .skill-empty p {
    font-size: 0.8em;
  }
}
/* line 406, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-3 .circle-skill-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 412, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-3 .circle-skill-progress canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 418, ../sass/screen.sass */
.main-image-bloc-design p {
  font-size: 0.8em;
  text-align: center;
}
/* line 421, ../sass/screen.sass */
.main-image-bloc-design .skill-circle-2 {
  margin-right: 5rem;
}
@media only screen and (max-width: 1400px) {
  /* line 421, ../sass/screen.sass */
  .main-image-bloc-design .skill-circle-2 {
    margin-right: 2rem;
  }
}

/**** Realisations *** */
/* line 431, ../sass/screen.sass */
#realisations {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/* line 436, ../sass/screen.sass */
.main-wrapper-rea {
  display: table;
  width: 100%;
  height: 90%;
  text-align: center;
  font-family: "Helvetica Neue Thin";
  overflow: hidden;
}

/* line 444, ../sass/screen.sass */
.main-text-bloc-rea {
  display: table-row;
  width: 100%;
}
/* line 67, ../sass/screen.sass */
.main-text-bloc-rea .title-bloc-rea {
  width: 100%;
}
/* line 69, ../sass/screen.sass */
.main-text-bloc-rea .title-bloc-rea h1 {
  text-align: center;
  font-size: 1.4em;
}
/* line 72, ../sass/screen.sass */
.main-text-bloc-rea .line-up {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 10px;
  background: url("../images/line-up.png");
}
/* line 448, ../sass/screen.sass */
.main-text-bloc-rea .title-bloc-rea {
  position: relative;
  top: 80px;
}
@media only screen and (max-width: 1400px) {
  /* line 448, ../sass/screen.sass */
  .main-text-bloc-rea .title-bloc-rea {
    top: 40px;
  }
}
/* line 453, ../sass/screen.sass */
.main-text-bloc-rea .title-bloc-rea .line-up {
  width: 20rem;
}

/* line 456, ../sass/screen.sass */
.container-rea {
  position: relative;
  z-index: 2;
}
/* line 460, ../sass/screen.sass */
.container-rea .rea-1 {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  border: 1px solid #000;
  background-color: #ffffff;
  padding: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 1400px) {
  /* line 460, ../sass/screen.sass */
  .container-rea .rea-1 {
    width: 17rem;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 460, ../sass/screen.sass */
  .container-rea .rea-1 {
    height: 17rem;
  }
}
/* line 472, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 476, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 481, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  top: 115%;
  font-family: "helvetica neue light";
  font-size: 0.5em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.85);
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 1400px) {
  /* line 481, ../sass/screen.sass */
  .container-rea .rea-1 .inner-rea .content-rea {
    font-size: 0.4em;
  }
}
/* line 495, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea .test {
  display: table-cell;
  vertical-align: middle;
}
/* line 498, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea .test p {
  padding: 20px;
}
/* line 500, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea .test .button-more-rea {
  border: 1px solid #ffffff;
  width: 50%;
  margin: auto;
}
/* line 504, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea .test .button-more-rea a {
  display: block;
  color: #ffffff;
  padding: 10px 0 10px 0;
}
/* line 508, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea .test .button-more-rea:hover {
  background-color: #ffffff;
}
/* line 510, ../sass/screen.sass */
.container-rea .rea-1 .inner-rea .content-rea .test .button-more-rea:hover a {
  color: #7d0f00;
}
/* line 513, ../sass/screen.sass */
.container-rea .rea-1:hover .content-rea {
  top: 0;
}
/* line 515, ../sass/screen.sass */
.container-rea .rea-0 {
  margin-right: 10rem;
}
@media only screen and (max-width: 1400px) {
  /* line 515, ../sass/screen.sass */
  .container-rea .rea-0 {
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 515, ../sass/screen.sass */
  .container-rea .rea-0 {
    margin-right: 3rem;
  }
}
/* line 460, ../sass/screen.sass */
.container-rea .rea-2 {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  border: 1px solid #000;
  background-color: #ffffff;
  padding: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 1400px) {
  /* line 460, ../sass/screen.sass */
  .container-rea .rea-2 {
    width: 17rem;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 460, ../sass/screen.sass */
  .container-rea .rea-2 {
    height: 17rem;
  }
}
/* line 472, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 476, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 481, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  top: 115%;
  font-family: "helvetica neue light";
  font-size: 0.5em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.85);
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 1400px) {
  /* line 481, ../sass/screen.sass */
  .container-rea .rea-2 .inner-rea .content-rea {
    font-size: 0.4em;
  }
}
/* line 495, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea .test {
  display: table-cell;
  vertical-align: middle;
}
/* line 498, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea .test p {
  padding: 20px;
}
/* line 500, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea .test .button-more-rea {
  border: 1px solid #ffffff;
  width: 50%;
  margin: auto;
}
/* line 504, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea .test .button-more-rea a {
  display: block;
  color: #ffffff;
  padding: 10px 0 10px 0;
}
/* line 508, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea .test .button-more-rea:hover {
  background-color: #ffffff;
}
/* line 510, ../sass/screen.sass */
.container-rea .rea-2 .inner-rea .content-rea .test .button-more-rea:hover a {
  color: #7d0f00;
}
/* line 513, ../sass/screen.sass */
.container-rea .rea-2:hover .content-rea {
  top: 0;
}
/* line 515, ../sass/screen.sass */
.container-rea .rea-1 {
  margin-right: 10rem;
}
@media only screen and (max-width: 1400px) {
  /* line 515, ../sass/screen.sass */
  .container-rea .rea-1 {
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 515, ../sass/screen.sass */
  .container-rea .rea-1 {
    margin-right: 3rem;
  }
}
/* line 460, ../sass/screen.sass */
.container-rea .rea-3 {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  border: 1px solid #000;
  background-color: #ffffff;
  padding: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 1400px) {
  /* line 460, ../sass/screen.sass */
  .container-rea .rea-3 {
    width: 17rem;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 460, ../sass/screen.sass */
  .container-rea .rea-3 {
    height: 17rem;
  }
}
/* line 472, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 476, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 481, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  top: 115%;
  font-family: "helvetica neue light";
  font-size: 0.5em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.85);
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 1400px) {
  /* line 481, ../sass/screen.sass */
  .container-rea .rea-3 .inner-rea .content-rea {
    font-size: 0.4em;
  }
}
/* line 495, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea .test {
  display: table-cell;
  vertical-align: middle;
}
/* line 498, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea .test p {
  padding: 20px;
}
/* line 500, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea .test .button-more-rea {
  border: 1px solid #ffffff;
  width: 50%;
  margin: auto;
}
/* line 504, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea .test .button-more-rea a {
  display: block;
  color: #ffffff;
  padding: 10px 0 10px 0;
}
/* line 508, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea .test .button-more-rea:hover {
  background-color: #ffffff;
}
/* line 510, ../sass/screen.sass */
.container-rea .rea-3 .inner-rea .content-rea .test .button-more-rea:hover a {
  color: #7d0f00;
}
/* line 513, ../sass/screen.sass */
.container-rea .rea-3:hover .content-rea {
  top: 0;
}
/* line 515, ../sass/screen.sass */
.container-rea .rea-2 {
  margin-right: 10rem;
}
@media only screen and (max-width: 1400px) {
  /* line 515, ../sass/screen.sass */
  .container-rea .rea-2 {
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 515, ../sass/screen.sass */
  .container-rea .rea-2 {
    margin-right: 3rem;
  }
}

/* line 522, ../sass/screen.sass */
.main-image-bloc-rea {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}
/* line 527, ../sass/screen.sass */
.main-image-bloc-rea img {
  float: right;
  width: 80%;
}

/**** Contact *** */
/* line 535, ../sass/screen.sass */
#contact {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/* line 540, ../sass/screen.sass */
.main-wrapper-contact {
  display: block;
  width: 100%;
  height: 90%;
  text-align: center;
  font-family: "Helvetica Neue Thin";
  overflow: hidden;
}
/* line 67, ../sass/screen.sass */
.main-wrapper-contact .main-text-bloc-contact .title-bloc-contact {
  width: 100%;
}
/* line 69, ../sass/screen.sass */
.main-wrapper-contact .main-text-bloc-contact .title-bloc-contact h1 {
  text-align: center;
  font-size: 1.4em;
}
/* line 72, ../sass/screen.sass */
.main-wrapper-contact .main-text-bloc-contact .line-up {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 10px;
  background: url("../images/line-up.png");
}
/* line 549, ../sass/screen.sass */
.main-wrapper-contact .main-text-bloc-contact .title-bloc-contact {
  position: relative;
  top: 80px;
}
@media only screen and (max-width: 1400px) {
  /* line 549, ../sass/screen.sass */
  .main-wrapper-contact .main-text-bloc-contact .title-bloc-contact {
    top: 60px;
  }
}
/* line 554, ../sass/screen.sass */
.main-wrapper-contact .main-text-bloc-contact .title-bloc-contact .line-up {
  width: 20rem;
}

/* line 556, ../sass/screen.sass */
.main-container-contact {
  position: relative;
  overflow: hidden;
  top: 80px;
}
@media only screen and (max-width: 1400px) {
  /* line 556, ../sass/screen.sass */
  .main-container-contact {
    top: 60px;
  }
}
/* line 562, ../sass/screen.sass */
.main-container-contact .form-container {
  float: left;
  width: 50%;
}
/* line 565, ../sass/screen.sass */
.main-container-contact .form-container form {
  width: 75%;
  margin: auto;
  overflow: hidden;
}
/* line 569, ../sass/screen.sass */
.main-container-contact .form-container form .form-input {
  display: block;
  width: 98%;
  height: 35px;
  margin-top: 50px;
  border: 1px solid #000;
  padding: 0 0 0 5px;
}
@media only screen and (max-width: 1400px) {
  /* line 569, ../sass/screen.sass */
  .main-container-contact .form-container form .form-input {
    margin-top: 35px;
  }
}
/* line 578, ../sass/screen.sass */
.main-container-contact .form-container ::-webkit-input-placeholder {
  color: #000;
  font-family: "helvetica neue light";
}
/* line 581, ../sass/screen.sass */
.main-container-contact .form-container:-moz-placeholder {
  color: #000;
  font-family: "helvetica neue light";
}
/* line 584, ../sass/screen.sass */
.main-container-contact .form-container ::-moz-placeholder {
  color: #000;
  font-family: "helvetica neue light";
}
/* line 587, ../sass/screen.sass */
.main-container-contact .form-container:-ms-input-placeholder {
  color: #000;
  font-family: "helvetica neue light";
}

/* line 590, ../sass/screen.sass */
#user_mess {
  height: 150px;
  padding-top: 5px;
}
@media only screen and (max-width: 1400px) {
  /* line 590, ../sass/screen.sass */
  #user_mess {
    height: 120px;
  }
}

/* line 595, ../sass/screen.sass */
#reset_button, #submit_button {
  display: block;
  font-size: 1em;
  font-family: "helvetica neue thin";
  width: 45%;
  margin-top: 20px;
  background-color: inherit;
  height: 45px;
  float: left;
}
/* line 604, ../sass/screen.sass */
#reset_button:hover, #submit_button:hover {
  cursor: pointer;
}

/* line 606, ../sass/screen.sass */
#submit_button {
  float: right;
  margin-right: 5px;
}

/* line 611, ../sass/screen.sass */
.ending-container {
  float: right;
  width: 50%;
}
/* line 614, ../sass/screen.sass */
.ending-container .end-text-content {
  margin-top: 100px;
}
@media only screen and (max-width: 1400px) {
  /* line 614, ../sass/screen.sass */
  .ending-container .end-text-content {
    margin-top: 80px;
  }
}
/* line 618, ../sass/screen.sass */
.ending-container .end-text-content h4 {
  font-size: 1.8em;
}
@media only screen and (max-width: 1400px) {
  /* line 618, ../sass/screen.sass */
  .ending-container .end-text-content h4 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 618, ../sass/screen.sass */
  .ending-container .end-text-content h4 {
    font-size: 1.3em;
  }
}
/* line 624, ../sass/screen.sass */
.ending-container .end-text-content p {
  font-size: 1em;
  margin-top: 20%;
}
@media only screen and (max-width: 1400px) {
  /* line 624, ../sass/screen.sass */
  .ending-container .end-text-content p {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 624, ../sass/screen.sass */
  .ending-container .end-text-content p {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 624, ../sass/screen.sass */
  .ending-container .end-text-content p {
    font-size: 0.7em;
  }
}
/* line 634, ../sass/screen.sass */
.ending-container .socials {
  width: 100%;
  margin-top: 50px;
}
/* line 638, ../sass/screen.sass */
.ending-container .socials .social-icon-1 {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border: 1px solid #000;
  border-radius: 100%;
  padding: 15px;
}
/* line 645, ../sass/screen.sass */
.ending-container .socials .social-icon-1 img {
  width: 100%;
}
/* line 647, ../sass/screen.sass */
.ending-container .socials .social-icon-1 a {
  position: relative;
  bottom: 100%;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 654, ../sass/screen.sass */
.ending-container .socials .social-icon-0 {
  margin-right: 40px;
}
/* line 638, ../sass/screen.sass */
.ending-container .socials .social-icon-2 {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border: 1px solid #000;
  border-radius: 100%;
  padding: 15px;
}
/* line 645, ../sass/screen.sass */
.ending-container .socials .social-icon-2 img {
  width: 100%;
}
/* line 647, ../sass/screen.sass */
.ending-container .socials .social-icon-2 a {
  position: relative;
  bottom: 100%;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 654, ../sass/screen.sass */
.ending-container .socials .social-icon-1 {
  margin-right: 40px;
}
/* line 638, ../sass/screen.sass */
.ending-container .socials .social-icon-3 {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border: 1px solid #000;
  border-radius: 100%;
  padding: 15px;
}
/* line 645, ../sass/screen.sass */
.ending-container .socials .social-icon-3 img {
  width: 100%;
}
/* line 647, ../sass/screen.sass */
.ending-container .socials .social-icon-3 a {
  position: relative;
  bottom: 100%;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 654, ../sass/screen.sass */
.ending-container .socials .social-icon-2 {
  margin-right: 40px;
}
