<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Traveaux IUT - Téléchargements</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="Florian Michel">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>

    <style>
        html{
            font-family: 'Raleway', sans-serif;
        }

        body{
            width: 50%;
            margin:auto;
        }

        h3{
            padding: 5px;
            background-color: #C2E0FF;
        }

        a{
            display: block;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="main-content">
    <h1> Compétences en développement web </h1>
    <h2> Compétences développement front-end </h2>
    <h3> Javascript et frameworks associés </h3>
    <p>
        Mes compétences en Javascript s'améliorent de plus en plus étant donné qu'il s'agit aujourd'hui de mon langage
        de prédilection. J'ai également de bonnes connaissances sur la librairie <strong>Jquery</strong>. Les implémentations
        liées à mon site concernent principalement des ajouts d'animations, de filtres (calques au-dessus d'une page ou d'une partie de page),
        ainsi que l'envoie de messages en <strong>Ajax</strong> (JS Natif).<br />
        <em>Je compte aussi évoluer vers le Framework <strong>Angular JS</strong> une fois que la version 2 sera disponible, celle-ci s'éloignant de la version 1.x dans son fonctionnement.</em>
    </p>
    <h3> CSS, pré-processeurs et frameworks associés </h3>
    <p>
       Je possède à ce jour de bonnes compétences en CSS3 et sur le <strong>pré-processeur SASS</strong> et notamment le <strong>framework Compass</strong>.
        Celui-ci facilite grandement l'écriture du CSS et ajoute de nombreuses mixins et fonctions utiles à SASS.
        Actuellement, sur mon site, ce sont plus de <em>4000 lignes</em> de CSS générées à l'aide de Compass...
    </p>
    <h3> HTML, et templating </h3>
    <p>
        Expérience sur le moteur de template PHP : <strong>Twig</strong>. Connaissances des bonnes pratiques <strong>W3C</strong>
        ainsi que des <strong>meta Open Graph</strong> afin d'affiner le référencement naturel.
        Connaissance de l'intégration Java J2EE (JSP, JSF).<br />
        <em>Expérience sur les Canvas et les nouveautés HTML5 (balises videos, audios...).</em>
    </p>
</div>
<!--<div class="main-content">
    <h2> Book de créations Florian Michel (en cours d'édition / impression)</h2>
    <h3> Télécharger le document PDF </h3>
    <a href="book.pdf" id="link_2"> Book de créations </a>
</div>-->
</body>
</html>