<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Compétences - Design</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="Florian Michel">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>

    <style>
        html{
            font-family: 'Raleway', sans-serif;
        }

        body{
            width: 50%;
            margin:auto;
        }

        h3{
            padding: 5px;
            background-color: #C2E0FF;
        }

        a{
            display: block;
            margin-top: 20px;
        }

        .prevent-message{
            color: rgba(255,0,0,0.9);
            font-size: 0.8em;
        }
    </style>
</head>

<body>
<div class="main-content">
    <a href="http://florianmichel-online.com#skills" title="Revenir sur florianmichel-online.com">Revenir sur florianmichel-online.com</a>
    <a href="http://florianmichel-online.com/skills/index.php?type=dev" title="Compétences en développement web">Compétences en développement web</a>
    <a href="http://florianmichel-online.com/skills/index.php?type=tools" title="Mes outils">Mes outils</a>
    <h1> Compétences en graphisme et montage vidéo </h1>
    <em class="prevent-message">
        Cette page est encore en cours de développement. Par conséquent son design actuel ne représente pas le résultat final.
        La page est en ligne afin d'aider toute entreprise souhaitant étudier ma candidature à trouver de plus amples informations
        sur mes compétences.
    </em>
    <h2> Compétences webdesign </h2>
    <h3> Photoshop CS6 </h3>
    <p>
        J'utilise Photoshop depuis maintenant quelques années. Cet outil m'a permis de me découvrir une passion pour le monde
        de l'image en général en plus de la photographie. Je l'ai utilisé au départ à titre personnel pour des créations libres.
        Maintenant il est outil professionnel indispensable pour m'aider à réaliser mes <strong>maquettes web</strong>
        lorsque je suis également en charge de la partie design d'un site internet. Je l'utilise toujours à titre personnel,
        mais davantage pour développer mes tirages numériques au format RAW.
    </p>
    <h3> Illustrator CS6 </h3>
    <p>
        Mon expérience sur le logiciel Illustrator est moins large que sur Photoshop, cependant il me permet de réaliser
        de façon anecdotique les logos, icônes et objets vectoriels dont j'ai besoin pour habiller les sites que je conçois.
        Le logo de mon site par exemple, a été entièrement conçu sous Illustrator.
    </p>
    <h3> InDesign CS6 </h3>
    <p>
        InDesign est un outil très puissant pour la publication et/ou l'impression de documents. Mon CV par exemple est
        conçu via Indesign CS6. J'ai également une expérience dans la rédaction et la conception d'un journal sous ce logiciel.
    </p>

    <h2> Compétences montage et capture vidéo </h2>
    <h3> Adobe Premiere Pro </h3>
    <p>
        J'utilise le logiciel Adobe Premiere Pro pour la <strong>réalisation de montages vidéos</strong>. D'abord utilisé à titre personnel,
        j'ai pu réaliser quelques montages via ce logiciel dans le cadre de mon DUT. J'aime aussi réaliser à l'occasion quelques
        montages vidéos pour mon propre plaisir. Je possède également du <strong>matériel de prise de son et vidéo semi-pro</strong> et je suis
        tout à fait capable de réaliser de petites vidéos destinées au web, <em>la création de contenu multimédia étant au coeur
        d'un bon référencement naturel aujourd'hui !</em>
        <a href="https://www.youtube.com/watch?v=WZSbI1cydhg" target="_blank" title="Interview Antoine Bidegain">Interview d'Antoine Bidegain</a>
        <br />
        <a href="https://www.youtube.com/watch?v=H-SxmBPpNfc" target="_blank" title="Interview Pierre Bonis">Interview de Pierre Bonis</a>
    </p>
    <h3> After Effects </h3>
    <p>
        Ce logiciel me permet principalement <em>d'habiller mes montages vidéos</em> sur Adobe Premiere Pro. After Effects est également
        utile pour gérer plus finement <strong>l'étalonnage colorimétrique</strong> et la gestion des lumières. Il permet aussi la réalisation
        de clips d'introductions aux vidéos.
    </p>
</div>
<!--<div class="main-content">
    <h2> Book de créations Florian Michel (en cours d'édition / impression)</h2>
    <h3> Télécharger le document PDF </h3>
    <a href="book.pdf" id="link_2"> Book de créations </a>
</div>-->
</body>
</html>