<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Compétences - Outils</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="Florian Michel">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>

    <style>
        html{
            font-family: 'Raleway', sans-serif;
        }

        body{
            width: 50%;
            margin:auto;
        }

        h3{
            padding: 5px;
            background-color: #C2E0FF;
        }

        a{
            display: block;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="main-content">
    <h1> Outils de développement utilisés </h1>
    <h2> Environnements de développement </h2>
    <h3> IntelliJ Idea </h3>
    <p>
        IntelliJ est un IDE très puissant développé par <strong>JetBrains</strong>. Je l'utilise pour la plupart de mes projets
        et possède une bonne maîtrise de celui-ci. Il permet en effet de gérer de façon simplifiée les projets via plusieurs
        plugins très utiles. On peut citer notamment l'intégration d'outils de versioning comme <strong>Git ou SVN</strong>.
        J'utilise d'autres plugins utiles comme <strong>Ant</strong> qui me permet de faire de déployer un projet sur un dossier prévu pour une mise
        en pré-production. J'utilise également <strong>YUI Compressor</strong> qui permet de minifier les fichiers JS.
    </p>
    <h3> Eclipse </h3>
    <p>
        J'utilise actuellement Eclipse au sein de SQLI pour le développement lié à mon projet. Je possède donc quelques maîtrises
        basiques sur cet IDE.
    </p>
    <h3> SublimText </h3>
    <p>
        SublimText me permet de par sa légereté de faire des modifications rapides sur certains fichiers de projet.
    </p>
    <h3> Dreamweaver </h3>
    <p>
        Il s'agit du premier IDE que j'utilisais pour le développement. Je possède donc une bonne maîtrise du logiciel.
        Cependant j'ai préféré évoluer vers des outils plus puissants et moins orientés <em>WYSIWYG</em> afin de bénéficier
        de plus de souplesse lors de l'écriture de mon code et surtout dans la gestion de mes différents projets.
    </p>

    <h2> Environnements de versioning </h2>
    <h3> Git / Github </h3>
    <p>
        Git est à ce jour le seul outil de versioning que j'utilise. J'en ai une assez bonne maîtrise. il me permet la plupart
        du temps de gérer de façon plus souple les modifications que j'apporte à mes différents projets et de pouvoir accéder
        à ceux-ci de n'importe où. La création de différentes branches sur un projet me permet également de prévoir <em>une version
        de pré-production</em> et une <em>version de production</em> pour chaque projet, bénéficiant ainsi d'un projet toujours fonctionnel en
        cas d'erreurs sur le développement de la branche "pré-production". <br />
        D'autre part, il m'a permis à plusieurs reprise de pouvoir travailler de façon efficace <strong>en équipe</strong> sur le développement
        d'applications ou de sites web.
    </p>

    <h2> Operating Systems </h2>
    <h3> Windows </h3>
    <p>
        Git est à ce jour le seul outil de versioning que j'utilise. J'en ai une assez bonne maîtrise. il me permet la plupart
        du temps de gérer de façon plus souple les modifications que j'apporte à mes différents projets et de pouvoir accéder
        à ceux-ci de n'importe où. La création de différentes branches sur un projet me permet également de prévoir <em>une version
        de pré-production</em> et une <em>version de production</em> pour chaque projet, bénéficiant ainsi d'un projet toujours fonctionnel en
        cas d'erreurs sur le développement de la branche "pré-production". <br />
        D'autre part, il m'a permis à plusieurs reprise de pouvoir travailler de façon efficace <strong>en équipe</strong> sur le développement
        d'applications ou de sites web.
    </p>
</div>
<!--<div class="main-content">
    <h2> Book de créations Florian Michel (en cours d'édition / impression)</h2>
    <h3> Télécharger le document PDF </h3>
    <a href="book.pdf" id="link_2"> Book de créations </a>
</div>-->
</body>
</html>